.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#rcorners1 {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px; 
  width: 420px;
  height: 120px;  
  float:left;
}
#rcorners2 {
  border-radius: 25px;
  border: 2px solid #050505;
  padding: 20px; 
  width: 420px;
  background-color: lightblue;
  height: 120px; 
  float: right;

}
#rcorners3 {
  border-radius: 25px;
  background: #73AD21;
  background-position: right top;
  background-repeat: repeat;
  padding: 20px; 
  width: 420px;
  height: 120px;  
  float:right;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 500px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
p {
  color: rgb(32, 27, 27);
  text-shadow: 1px 1px 2px black, 0 0 25px rgba(89, 0, 255, 0.774), 0 0 5px rgb(231, 229, 223);
}
table {
  margin: 0 auto;
  border-collapse: collapse;
  border: 1px solid black;
 } 

 th,td {
 border: 1px solid black;
 }

 #App h2{
   margin :0 auto;
   position: fixed;
 }